.imgHeight {
    width: 100%;
    height: 80%;
}

.advert {
    height: 25em;
    margin: auto;
    margin-top: 5em;
}

.main {
    width: 60%;
    margin: auto;
    height: 25em;
    background: brown;
    color: green;
}

.wdt{    
    width: 90% !important;    
}    
.img    
{    
    height: 300px !important;    
    width: 100%;    
}    
    
.imgdetails    
{    
    height: 280px !important;    
    width: 600px !important;    
    
}    
    
.imgpad    
{    
    padding-bottom: 0px !important;    
    padding-top: 0px !important;    
    padding-left: 50px !important;    
    padding-right: 50px !important;    
    
}
.mt-3 {
    margin-top: 3em;
}